# Cost Allocation from Constraint Matrix

### Import packages

In [1]:
import pypsa
import pandas as pd
from helpers import get_linear_system, noisy_lopf
import networks

## Load example network

In [179]:
d0 = 80
d1 = 131
o0 = 52
o1 = 101
o2 = 156
c0 = 1060
c1 = 1050
c2 = 1020
c_l = 100

### 1. Option - One Bus, One Snapshot, Two Generators without invesment

$G_1 < d < G_1 + G_2$

Note, for such a system the total system cost $TC$ are less then the nodal payments as soon as one generator is at its limit: 

$\lambda = o_s + \bar{\mu_s} \;\;\;\;\; \forall s$

$d \, \lambda = d \, (o_s + \bar{\mu_s} ) \ge \sum_s g_s \, o_s = TC$

In [180]:
n = pypsa.Network()
n.add('Bus', 'Bus1')
n.add('Load', 0, bus='Bus1', p_set=d0)
n.madd('Generator', ['Gen0', 'Gen1'], bus='Bus1', marginal_cost=[o0, o1], p_nom=40)

Index(['Gen0', 'Gen1'], dtype='object')

### 2. Option - Same as before with investment

Here the total cost are payed by the consumers

$TC = \lambda d$

In [219]:
n = pypsa.Network()
n.add('Bus', 'Bus1')
n.add('Load', 0, bus='Bus1', p_set=d0)
n.madd('Generator', ['Gen0', 'Gen1'], bus='Bus1', marginal_cost=[o0, o1], capital_cost=[c0, c1], 
       p_nom_extendable=True)

Index(['Gen0', 'Gen1'], dtype='object')

### 3. Option Base + Peak Generators, One Bus, Multiple Snapshots

In [238]:
load = pd.DataFrame([[50, 50, 50, 50, 50, 90, 50, 50, 50]], index=[0])

n = pypsa.Network()
n.set_snapshots(range(len(load)))
n.add('Bus', 'Bus1')
n.madd('Load', [0], bus='Bus1', p_set=load)
n.madd('Generator', ['Gen0', 'Gen1'], bus='Bus1', marginal_cost=[20, 40], capital_cost=[300, 100], 
       p_nom_extendable=True)

WARNING:pypsa.io:Components Index(['1', '2', '3', '4', '5', '6', '7', '8'], dtype='object') for attribute p_set of Load are not in main components dataframe loads

Index(['Gen0', 'Gen1'], dtype='object')

### 3. Option - One Bus, Two Snapshots, Three Generators with Investment

In [5]:
n = pypsa.Network()
n.set_snapshots(range(2))
n.madd('Bus', ['Bus1'])
n.madd('Load', [0], bus='Bus1', p_set=pd.DataFrame({0: [d0, d1]}, index=n.snapshots))
n.madd('Generator', [f'Gen{i}' for i in [0, 1, 2]], bus='Bus1', p_nom_extendable=True,
        marginal_cost=[o0, o1, o2], capital_cost=[c0, c1, c2],
        p_nom=[10, 11, 10], p_nom_max=100, carrier=list('abc'))

Index(['Gen0', 'Gen1', 'Gen2'], dtype='object')

### 4. Option - AC-DC pypsa network

In [6]:
# n = ntl.test.get_network_ac_dc()
# n.generators['p_nom'] = 0
# n.links['p_nom'] = 0
# n.lines['s_nom'] = 0
# n.set_snapshots(n.snapshots[[0]])

## Add random noise & solve network

In [239]:
for c, attr in pypsa.descriptors.nominal_attrs.items():
    if n.df(c).empty:
        continue

    n.df(c)[attr + '_min'] += rand(len(n.df(c)))/100
    n.df(c)[attr + '_max'] += rand(len(n.df(c)))/100

    min_pu = attr.replace('nom', 'min_pu')
    max_pu = attr.replace('nom', 'max_pu')

    default = n.df(c)[max_pu]
    n.pnl(c)[max_pu] = n.pnl(c)[max_pu]\
        .reindex(index=n.snapshots, columns=n.df(c).index).fillna(default)
    assert all(n.pnl(c)[max_pu].notnull())
    n.pnl(c)[max_pu] += rand(*n.pnl(c)[max_pu].shape)/100

    if min_pu in n.pnl(c):
        default = n.df(c)[min_pu]
        n.pnl(c)[min_pu] = n.pnl(c)[min_pu]\
            .reindex(index=n.snapshots, columns=n.df(c).index).fillna(default)
        assert all(n.pnl(c)[min_pu].notnull())
        n.pnl(c)[min_pu] += rand(*n.pnl(c)[min_pu].shape)/100


n.lopf(pyomo=False, keep_shadowprices=True, keep_references=True,
       solver_name='gurobi')

INFO:pypsa.linopf:Prepare linear problem
INFO:pypsa.linopf:Total preparation time: 0.12s
INFO:pypsa.linopf:Solve linear problem using Gurobi solver

Read LP format model from file /tmp/pypsa-problem-l25_d3os.lp
Reading time = 0.00 seconds
obj: 9 rows, 5 columns, 14 nonzeros
Gurobi Optimizer version 9.0.0 build v9.0.0rc2 (linux64)
Optimize a model with 9 rows, 5 columns and 14 nonzeros
Model fingerprint: 0xc46d451c
Coefficient statistics:
  Matrix range     [2e-03, 1e+00]
  Objective range  [1e+00, 3e+02]
  Bounds range     [0e+00, 0e+00]
  RHS range        [6e-03, 5e+01]
Presolve removed 6 rows and 2 columns
Presolve time: 0.00s
Presolved: 3 rows, 3 columns, 8 nonzeros

Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    2.0007674e+03   6.249781e+00   0.000000e+00      0s
       2    6.9564202e+03   0.000000e+00   0.000000e+00      0s

Solved in 2 iterations and 0.01 seconds
Optimal objective  6.956420158e+03

INFO:pypsa.linopf:Optimization successful. Objective value: 6.96e+03

('ok', 'optimal')

### Extract gorubi variables and constraint in correct order

In [240]:
def to_series(df):
    """Standardize time and static variables."""
    return df.stack() if df.ndim > 1 else concat([df], keys=['static'])

vars, cons = {}, {}
for comp, attr in n.variables.index:
    vars[comp, attr] = to_series(get_var(n, comp, attr)).swaplevel(-1, -2)
vars = concat(vars, axis=0, names=['component', 'name', 'component_i', 'snapshot'])
grb_varindex = Series({v.VarName: v.index for v in n.model.getVars()})\
                      .pipe(set_int_index)
vars_index = vars.map(grb_varindex).sort_values().index

for comp, attr in n.constraints.index:
    cons[comp, attr] = to_series(get_con(n, comp, attr)).swaplevel(-1, -2)
cons = concat(cons, axis=0, names=['component', 'name', 'component_i', 'snapshot'])
grb_conindex = Series({c.ConstrName: c.index for c in n.model.getConstrs()})\
                      .pipe(set_int_index)
cons_index = cons.map(grb_conindex).sort_values().index

demand = (n.loads_t.p.groupby(n.loads.bus, axis=1)
          .sum().reindex(columns=n.buses.index, fill_value=0)
          .stack())

## Calculate $r_{(n,t)}^i$

In [241]:
tolerance = dict(atol=1e-5, rtol=1e-5)

O = n.model.getObjective()
A = n.model.getA().T # first dimension {vars} second {cons}
x = array([v.x for v in n.model.getVars()])
d = array([c.RHS  for c in n.model.getConstrs()])
c = np.zeros_like(x)
for t in range(O.size()): c[O.getVar(t).index] = O.getCoeff(t)
m = array([c.Pi for c in n.model.getConstrs()])

# remove the objective constant variable
nonzero_b = A.getnnz(1) > 0
A = A[nonzero_b]
x = x[nonzero_b]
c = c[nonzero_b]
B = (x * A).round(8) == d
N, M = A.shape

assert sum(B) == N
assert_allclose(x * A[:, B], d[B], **tolerance)

A_inv = spinv(A[:, B].tocsc()).T
lmp_i = Series(range(N), cons_index[B]).Bus.marginal_price.rename_axis(['Bus', 'snapshot'])
lmp = m[B][lmp_i]
r = A_inv[:, lmp_i] * diags(d[B][lmp_i])

assert_allclose(d[B][lmp_i], demand.values, **tolerance)
assert_allclose(x, A_inv * d[B], **tolerance)
assert_allclose(c * r, lmp * demand.values, rtol=1e-7, atol=1e-2)

### Convert to (sparse) pandas & consider only binding constraint space

Define new matrix:  

$D_{i, (n,t)} = {A'}^{-1}_{i,(n,t)}$

In [242]:
r = DataFrame.sparse.from_spmatrix(r, vars_index, lmp_i.index)
D = DataFrame.sparse.from_spmatrix(A_inv[:, lmp_i], vars_index, lmp_i.index)

A_ = DataFrame.sparse.from_spmatrix(A[:, B], vars_index, cons_index[B])
A = DataFrame.sparse.from_spmatrix(A, vars_index, cons_index)
A_inv = DataFrame.sparse.from_spmatrix(A_inv, vars_index, cons_index[B])
c = Series(c, vars_index)
x = Series(x, vars_index)
d = Series(d[B], cons_index[B])
m = Series(m[B], cons_index[B])

# Full cost allocation 

The basis of the cost allocation is ${A'}^{-1}$. It connects binding constraint to the variables

$x_i = \sum_j {A'}^{-1}_{i,j} \, d_j$

If ${A'}^{-1}_{i,j}$ is positive, $d_j$ has a positive effect on $x_i$. If negative, $d_j$ pushes $x_i$ down.

In [243]:
A_inv * d

component                               Generator                          Bus
name                                 mu_nom_lower mu_upper      marginal_price
component_i                                  Gen0     Gen0 Gen1           Bus1
snapshot                                   static        0    0              0
component name  component_i snapshot
Generator p     Gen0        0            0.006005     -0.0  0.0       0.000000
                Gen1        0           -0.006005      0.0  0.0      50.000000
          p_nom Gen0        static       0.005993      0.0  0.0       0.000000
                Gen1        static      -0.005952      0.0  0.0      49.553375

The same counts for the cost of the variables $C_{i,j}$ defined as  

$C_{ij} = {A'}^{-1}_{ij} \, c_i \, d_j$

If $C_{i,j}$ is positive, constraint $j$ pushes expences for variables $i$, if negative it lowers them.

In [225]:
C = (A_inv * d).mul(c, 0)
C

component                               Generator                          Bus
name                                 mu_nom_lower mu_upper      marginal_price
component_i                                  Gen1     Gen0 Gen1           Bus1
snapshot                                   static      now  now            now
component name  component_i snapshot
Generator p     Gen0        now         -0.161352      0.0  0.0    4160.000000
                Gen1        now          0.313395      0.0 -0.0       0.000000
          p_nom Gen0        static      -3.279306      0.0  0.0   84547.456747
                Gen1        static       3.231900      0.0  0.0       0.000000

In [226]:
assert n.objective ==  C.sum().sum()
n.objective

88707.56138415824

In [227]:
C.sum()

component  name            component_i  snapshot
Generator  mu_nom_lower    Gen1         static          0.104637
           mu_upper        Gen0         now             0.000000
                           Gen1         now             0.000000
Bus        marginal_price  Bus1         now         88707.456747
dtype: float64

In [228]:
C.sum(1)

component  name   component_i  snapshot
Generator  p      Gen0         now          4159.838648
                  Gen1         now             0.313395
           p_nom  Gen0         static      84544.177441
                  Gen1         static          3.231900
dtype: float64

### Other direction

The matrix $A'_{i,j}$ connects to the variables their binding constraints

$\sum_i x_i \, A'_{i,j} = d_j$

In [229]:
A_.mul(x, 0)

component                               Generator                       \
name                                 mu_nom_lower   mu_upper
component_i                                  Gen1       Gen0      Gen1
snapshot                                   static        now       now
component name  component_i snapshot
Generator p     Gen0        now          0.000000 -79.996897  0.000000
                Gen1        now          0.000000   0.000000 -0.003103
          p_nom Gen0        static       0.000000  79.996897  0.000000
                Gen1        static       0.003078   0.000000  0.003103

component                                       Bus
name                                 marginal_price
component_i                                    Bus1
snapshot                                        now
component name  component_i snapshot
Generator p     Gen0        now           79.996897
                Gen1        now            0.003103
          p_nom Gen0        static         0.000000
                Gen1        static         0.000000

In [230]:
D = (A_ * m).mul(x, 0) 
D

component                               Generator                          \
name                                 mu_nom_lower      mu_upper
component_i                                  Gen1          Gen0      Gen1
snapshot                                   static           now       now
component name  component_i snapshot
Generator p     Gen0        now          0.000000 -84544.177441  0.000000
                Gen1        now          0.000000      0.000000 -3.127263
          p_nom Gen0        static       0.000000  84544.177441  0.000000
                Gen1        static       0.104637      0.000000  3.127263

component                                       Bus
name                                 marginal_price
component_i                                    Bus1
snapshot                                        now
component name  component_i snapshot
Generator p     Gen0        now        88704.016089
                Gen1        now            3.440658
          p_nom Gen0        static         0.000000
                Gen1        static         0.000000

In [234]:
assert round(n.objective, 5) ==  round(D.sum().sum(), 5)
n.objective

88707.56138415824

In [218]:
n.loads_t.p['0'] * n.buses_t.marginal_price['Bus1']

now    92021.744429
dtype: float64

## Now the Problem:

Take the second example.

Both generators produce power:

In [136]:
n.generators_t.p

          Gen0       Gen1
now  40.346677  19.653323

Their OPEX is:

In [137]:
n.generators_t.p * n.generators.marginal_cost

            Gen0         Gen1
now  2098.027182  1984.985666

The factors $D_{i, (n,t)} = {A'}^{-1}_{i,(n,t)}$ however only consider Gen1 which determines the lmp $\lambda = o_1$

In [138]:
D

Bus                                       Bus1
snapshot                                   now
component name  component_i snapshot
Generator p     Gen0        now       0.000000
                Gen1        now       1.000000
          p_nom Gen0        static    0.000000
                Gen1        static    0.998462

In [139]:
n.generators.marginal_cost.to_frame()

      marginal_cost
Gen0           52.0
Gen1          101.0

In [140]:
n.buses_t.marginal_price

            Bus1
now  1149.385486

The factors $r_{i,(n,t)}$ give the power consumption at $(n,t)$ who's price is determined by variable $i$.

In [141]:
r

Bus                                        Bus1
snapshot                                    now
component name  component_i snapshot
Generator p     Gen0        now        0.000000
                Gen1        now       60.000000
          p_nom Gen0        static     0.000000
                Gen1        static    59.907742

The product of the allocated power and the price of the variable $r_{i,(n,t)}\, c_i$ should give the allocated payment we are searching for, *i.e.* the cost that demand $(n,t)$ has to pay to variable $i$, let's denote it as 

$C_{(n,t)\rightarrow i} = r_{i,(n,t)}\, c_i$

In [142]:
C = r.mul(c, 0)
C

Bus                                           Bus1
snapshot                                       now
component name  component_i snapshot
Generator p     Gen0        now           0.000000
                Gen1        now        6060.000000
          p_nom Gen0        static        0.000000
                Gen1        static    62903.129181

Its sum over all variables $i$, equals the cost of consumption at $(n,t)$

$\sum_i C_{(n,t)\rightarrow i} = \lambda_{(n,t)} \, d_{(n,t)}$

In [143]:
C.sum()

Bus   snapshot
Bus1  now         68963.129181
dtype: float64

In [144]:
(A_inv * d).mul(c, 0)

component                                Generator                \
name                                  mu_nom_upper mu_upper
component_i                                   Gen0     Gen0 Gen1
snapshot                                    static      now  now
component name  component_i snapshot
Generator p     Gen0        now        2098.027182     -0.0  0.0
                Gen1        now       -4075.014334      0.0  0.0
          p_nom Gen0        static    42407.438020      0.0  0.0
                Gen1        static   -42298.870143      0.0  0.0

component                                       Bus
name                                 marginal_price
component_i                                    Bus1
snapshot                                        now
component name  component_i snapshot
Generator p     Gen0        now            0.000000
                Gen1        now         6060.000000
          p_nom Gen0        static         0.000000
                Gen1        static     62903.129181

In [121]:
n.loads_t.p * lmp

          0
now  6060.0

In [245]:
n.generators_t.p

       Gen0       Gen1
0  0.006005  49.993995

In [10]:
opex = (n.generators_t.p * n.generators.marginal_cost).sum()
capex = n.generators.p_nom_opt * n.generators.capital_cost
n.generators[['p_nom_opt', 'marginal_cost', 'capital_cost']].assign(opex = opex, capex = capex)

       p_nom_opt  marginal_cost  capital_cost         opex          capex
Gen0  100.004080           52.0        1060.0  8311.610562  106004.324800
Gen1   30.896417          101.0        1050.0  3146.700737   32441.238143
Gen2    0.005831          156.0        1020.0     0.917672       5.947620

In [12]:
n.buses_t.marginal_price

         Bus1
0    52.00000
1  1148.48758

## Extract Allocations for Generators

In [53]:
allocated_demand = r.loc['Generator', 'p', :, :]
operational_cost = c.loc['Generator', 'p', :, :]
O = allocated_demand.T * operational_cost
O

                      Gen0       Gen1 Gen2 Gen0     Gen1 Gen2
                         0          0    0    1        1    1
Bus  snapshot
Bus1 0         3120.000000   0.000000  0.0  0.0      0.0  0.0
     1          -38.847449  75.453698  0.0  0.0  13231.0  0.0

In [58]:
print(O.sum(1)); 
lmp * demand

Bus   snapshot
Bus1  0            3120.00000
      1           13267.60625
dtype: float64

0  Bus1      3120.000000
1  Bus1    150451.872995
dtype: float64

In [35]:
n.generators_t.p * n.generators.marginal_cost

          Gen0         Gen1      Gen2
0  3110.810778    17.843237  0.007816
1  5200.799784  3128.857500  0.909856

In [52]:
(D.T * c).mul(demand.values, 0)

                 Generator                                            \
                         p                                     p_nom
                      Gen0       Gen1 Gen2 Gen0     Gen1 Gen2   Gen0
                         0          0    0    1        1    1 static
Bus  snapshot
Bus1 0         3120.000000   0.000000  0.0  0.0      0.0  0.0    0.0
     1          -38.847449  75.453698  0.0  0.0  13231.0  0.0    0.0



                        Gen1   Gen2
                      static static
Bus  snapshot
Bus1 0              0.000000    0.0
     1         137184.266745    0.0

In [ ]:
capex = r.loc['Generator', 'p_nom', :, 'static']
capex = capex.loc[:, (capex >= 0.1).any()]
capex